/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead,tr, th, td,article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*================================================================
===================リセット終わり===============================
===============================*/

tr,th,td{
    border: 0.1px #000000 solid;
}


div.clearfix{
    clear: both;
}
/*================header===========*/

header{
    width: 100%;
    height: auto;
    position: fixed;
    margin-top: -50px;
    background-color: #ffffff;
    opacity: 70%;
}

header button{
        width: 100px;
        height: 30px;
        font-family: monospace;
        background-color: #f9e8fc;
        border-color: #f2505d;
        
    }



div.headdiv{
    height: 50px;
    margin: 0 3% 0 3%;
    float: left;
    line-height: 50px;
    
}

div.headdiv a{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: #000000;
}


div#headimg{
    height: 50px;
    float: left;
    margin: 0 30% 0 5%;
    padding-top: 5px;
}

div#headimg input{
    width: auto;
    height: 40px;
    
}


/*=============トップ===============*/
div#wrapper{
        margin-top: 50px;
        text-align: center;
        font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    } 

div#topwrap{

    padding-top: 20px;
    background-image: url(isorepublic-restaurant-dinners-1-450x300.jpeg);
        background-size: 100%;
    background-position: center center;
    background-color: rgba(255, 255,255, 0.8);
    background-blend-mode: soft-light;
}

div#top{
    margin: 20px auto auto auto;
    
}


div#top p{
    margin-top: 20px;
    
}

a#jump{
    margin: 10px auto 20px auto;
    display: inline-block;
}

/*============custom=================*/

button{
        margin: auto;
        width: 150px;
        height: 50px;
        font-family: monospace;
        background-color: antiquewhite;
        
    }

table#custom{
        text-align: center;
        margin:auto;
        border-collapse: collapse;
        width: 80%;
        
        
        
    }


output{
    font-size: 12px;
    text-align: center;
}

output p{
    margin-top: 20px;
    margin-bottom: 20px;
    
}



/*=======cont3(メインセクション)==============================*/

h3{
        margin:10px;
        left: 50px;
        font-weight: bold;
        font-style: italic;
        font-family: serif;
    }


h4{
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}


div.cont3{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    
}

div.cont{
   width: 30%;
    height: auto;
    margin-left: 2.5%;
    float: left;
    
}

div.cont table{
    border: 1;
    width: 100%;
    background-color: azure;
}


div.cont table td input{
    width: 30px;
}



/*=============説明欄================*/
h4#description{
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    margin: 30px auto 20px auto;
}

div#howto{
    width: 90%;
    margin: 40px auto 40px auto;
    text-align: left;
}

div#howto p{
    text-align: left;
    margin-bottom: 20px;
}

div#howto ol{
    list-style: decimal;
    
}

div#howto ol li{
    font-size: 12px;
    line-height: 30px;
}


div#howto ol li span{
    font-weight: 900;
    color: red;
    text-decoration: underline;
    
}
/*================footer==========*/
footer{
    width: 100%;
    height: 100px;
    background-color: aqua;
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
    
}

footer p{
    margin:0 auto 10px auto;
}




